#user-detail .img-box figure {
    margin: 0;
    margin-bottom: 5px;
}

#user-detail .img-box figure img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px 0;
    border-color: white;
    border-style: solid;
    background-color: #d1d1d1;
}

#user-detail .img-box figure .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 145px;
    opacity: 0.25;
    background-size: 100% 145px;
    background-color: #d1d1d1;
}

#user-detail .more-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#user-detail .more-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-detail .more-info div p {
    margin: 0;
}